* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* Color rosa durazno */
    /* background-color: #FFDDD2; */
    /* Color turquesa */
    background-color: #83C5BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navMenu {
    flex-grow: 1;
    background-color: #83C5BE;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.header__navMenu ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.header__navMenu ul li {
    list-style-type: none;
}

.header__navMenu a {
    color: white;
    text-decoration: none;
}

.header__navIcons {
    background-color: #83C5BE;
}

.header__navIcons ul {
    display: flex;
}

.header__navIcons ul li {
    list-style-type: none;
    margin: 5px;
}

.header__navIcons img {
    height: 35px;
    width: 35px;
}

.header_hamburgerButton {
    display: none;
}

/* Home main */

.main {
    background-image: url(../Images/peach-pit-2022.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Home Body*/

.logo {
    margin: 20px 70px;
    width: 600px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.logo__text {
    font-size: 100px;
    color: #fea3ce;
    text-shadow: 4px 4px #f46aa1;
    font-family: 'Roboto', sans-serif;
}

.logo a {
    font-family: 'Raleway', sans-serif;
}

.homeContent {
    height: 40%;
    display: flex;
    flex-direction: row;
}

.form {
    margin: 20px 70px;
}

.form__request {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

.form__request input {
    font-family: 'Raleway', sans-serif;
}

.form__button--fontStyle {
    font-family: 'Raleway', sans-serif;
}

.contactUs {
    margin: 20px 70px;
}

.contactUs__title {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

.contactUs__content {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}



/* Pages */

.mainPages {
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.mainPages--100vh {
    background-color: white;
    height: 100vh;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.titlePage {
    margin-bottom: 32px;
}

.titlePage__text {
    font-size: 80px;
    color: #fea3ce;
    text-shadow: 4px 4px #f46aa1;
    font-family: 'Roboto', sans-serif;
}

/* Tour Body */

.tourContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.tourEvent {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 1px solid #232528;
}



/* Nosotros */


.content {
    display: flex;

    font-family: 'Raleway', sans-serif;
}

.content__text {
    font-family: inherit;
    padding-right: 120px;
}


.content__image img {
    width: 600px;
}

/* Discografia */

.album {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.album__content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.albumCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.albumCover__image {
    width: 60%;
}

.albumCover__listenOnSpotify {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 25%;
    min-width: 160px;
}

.albumCover__button {
    width: 90%;
    transition: 1s;
}

.albumCover__button:hover {
    width: 100%;
}

.tracksAlbum {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tracksAlbum__name {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 1px solid #232528;
}

/* Prensa */

.tracksAlbum__name--noBorderBotton {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}

.newsContainer {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-areas: "news news"
        "news news";
}

.news {
    display: flex;
    align-items: center;
    width: 500px;
    margin-bottom: 100px;
}

.news__image img {
    width: 300px;
}

.newsContent {
    display: flex;
    flex-direction: column;
}

/* Footer */

.footer {
    background-color: #232528;


}

.footerContainer {
    padding: 32px 24px;
}

.footerContent__home--responsive {
    display: none;
}


.footerContainer__copyright {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* media query 1024px */

@media screen and (max-width:1024px) {

    /* pages */

    .mainPages {
        background-color: white;
        margin-top: 64px;
        margin-bottom: 64px;
        margin-left: 8%;
        margin-right: 8%;
    }

    /* discografia */

    .albumCover {
        width: 70%;
    }
}

/*media query 768px*/

@media screen and (max-width: 768px) {
    /* header */

    .header__navMenu {
        display: none;
    }

    .header_hamburgerButton {
        height: 26px;
        width: 32px;
        margin-right: 17px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__hamburguerButton--line1 {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .header__hamburguerButton--line2 {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
        transition: transform 0.2s ease-in-out;
    }

    .header__hamburguerButton--line3 {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .header__hamburguerMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }

    .header__hamburguerMenu>div {
        background: #232528b0;
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .header__hamburguerMenu>div>nav {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .header__hamburguerMenu>div>nav>ul>li {
        list-style: none;
        font-size: 24px;
        /* font-weight: 900; */
        padding: 16px;
    }

    .header__hamburguerMenu>div>nav>ul>li>a {
        /* color: #232528; */
        color: white;
        text-decoration: none;
    }



    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerButton--line1 {
        transform: rotate(45deg);
    }

    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerButton--line2 {
        transform: scaleY(0);
    }

    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerButton--line3 {
        transform: rotate(-45deg);
    }

    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerMenu {
        visibility: visible;
    }

    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerMenu>div {
        transform: scale(1);
        transition-duration: 1s;
    }

    .header_hamburgerButton input[type="checkbox"]:checked~.header__hamburguerMenu>div>nav {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
    }

    /* pages */

    .mainPages {
        background-color: white;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .titlePage__text {
        font-size: 64px;
        color: #fea3ce;
        text-shadow: 3px 3px #f46aa1;
        font-family: 'Roboto', sans-serif;
    }

    /* discagrafia */

    .album__content {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .albumCover {
        width: 80%;
    }

    .albumCover__image {
        width: 100%;
    }

    .tracksAlbum {
        width: 100%;
    }

}

/*media query 600px*/

@media screen and (max-width: 600px) {

    /* home */

    .main {
        background-image: url(../Images/peach-pit-2022.jpg);
        background-size: cover;
        background-position: center center;
        height: 85vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo__text {
        font-size: 85px;
        color: #fea3ce;
        text-shadow: 4px 4px #f46aa1;
        font-family: 'Roboto', sans-serif;
    }

    /* pages */

    .mainPages {
        background-color: white;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .titlePage__text {
        font-size: 48px;
        color: #fea3ce;
        text-shadow: 2.5px 2.5px #f46aa1;
        font-family: 'Roboto', sans-serif;
    }
}

/*media query 480px*/

@media screen and (max-width: 480px) {
    .main {
        background-image: url(../Images/peach-pit-2022.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: auto;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .logo__text {
        font-size: 45px;
        color: #fea3ce;
        text-shadow: 3px 3px #f46aa1;
        font-family: 'Roboto', sans-serif;
    }

    .homeContent {
        display: none;
    }

    .footerContent__home--responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }

    /* pages */

    .titlePage{
        margin-bottom: 16px;
    }

    .titlePage__text {
        font-size: 40px;
        color: #fea3ce;
        text-shadow: 2px 2px #f46aa1;
        font-family: 'Roboto', sans-serif;
    }

}