//colors

$primary-color: #83C5BE;
$secundary-color: #fea3ce;
$secundary-variant-color: #f46aa1;
$complemetary-color: #232528;
$background-color: white;
$text-color:black;
$alternative-text-color: white;

//fonts

$title-font: 'Roboto', sans-serif;
$content-font: 'Raleway', sans-serif;