//colors

$primary-color: rgb(131, 197, 190);
$secundary-color: rgb(254, 163, 206);
$secundary-variant-color: rgb(244, 106, 161);
$complemetary-color:rgb(33, 37, 41);
$background-color: white;
$text-color:rgb(33, 37, 41);
$alternative-text-color: white;

//fonts

$title-font: 'Roboto', sans-serif;
$content-font: 'Raleway', sans-serif;